<input class="button-design" type="file" (change)="onChange($event)">
<br>
<br>
<br>
<mat-accordion>
  *ngFor = "let result of rows; let i = index"
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{this.result2[i]}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>*ngIf='result==" \n"'</p>
  </mat-expansion-panel>
</mat-accordion>

<!--
  <table>
    <tr>
      <th *ngFor = "let column of headers" class="content-table">
        {{column}}
      </th>
    </tr>

    <tr *ngFor = "let result of rows; let i = index">
      <td>{{this.result2[i]}}</td>
      <td><div *ngIf='result==" \n"' style="background-color:yellow">test</div>
        {{result}}</td>
    </tr>
  </table>
-->
<!-- <app-test></app-test> -->
