<input class="button-design" type="file" (change)="onChange($event)">
<br>
<br>
<br>
<table mat-table
      multiTemplateDataRows
       class="mat-elevation-z8">

  <ng-container matColumnDef="{{column}}" *ngFor="let column of headers">
    <div>test</div>
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{column}} </td>
  </ng-container>


  <ng-container *ngFor = "let result of rows; let i = index" >
    <td mat-cell *matCellDef="let element" [attr.colspan]="headers.length">
      <div class="example-element-detail"
           [@detailExpand]="element == result ? 'expanded' : 'collapsed'">

        <div class="example-element-diagram">
          <div class="example-element-name"> {{this.result2[i]}} </div>
        </div>

        <div class="example-element-description">
          {{this.result}}
        </div>

      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="headers"></tr>
  <tr mat-row *matRowDef="let element; columns: headers;"
      class="example-element-row"
      [class.example-expanded-row]="result === element"
      (click)="result = element">
  </tr>
</table>

<!--
  <table>
    <tr>
      <th *ngFor = "let column of headers" class="content-table">
        {{column}}
      </th>
    </tr>

    <tr *ngFor = "let result of rows; let i = index">
      <td class="rows-table">{{this.result2[i]}}</td>
      <td class="rows-table">
        <div *ngIf='result==" \n"' class="td-table"><p class="td-table"></p></div>
          {{result}}
      </td>
    </tr>
  </table>
-->
<!-- <app-test></app-test> -->
