.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

/*auf Link verweisen
.spacer {
  flex: 1 1 auto;
}
*/

.logo-image{
  /*height: 0,50px;
  padding-right: 15px;
  padding-left: 5px;*/
  float: right;
  position: relative;
  margin: 10px 15px 15px 10px;
  flex: 1 1 auto;
}

.navbar-right {
    float: right;
}

.file-container{
    text-align: center;
  }
.file-button{
    outline: none;
    cursor: pointer;
    border: 1px solid #007bff;
    border-radius: 5px;
    background: #007bff;
    color: #fff;
    font-size: 15px;
    padding: 10px;
    margin: 5px 10px;
    min-width: 100px;
  }
.file-button:hover{
    background: #0069d9;
    border: 1px solid #0062cc;
  }
#my_file{
    display: none;
  }
